<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body>
    <section class="banner d-flex justify-content-center align-item-center">

        <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 class="colore:yellow">SMART CONTACT MANAGER</h1>
            <br>

            <p>
                Put life in perspective with some short yet sage pieces of advice
            </p>

            <button class="btn btn-primary btn-lg">Get Started</button>
        </div>


    </section>
</body>

</html>